@page "/produtos/delete"
@using Microsoft.EntityFrameworkCore
@using MYCOLL.Entities
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Produto</h2>
    <hr />
    @if (produto is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@produto.Nome</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Descricao</dt>
            <dd class="col-sm-10">@produto.Descricao</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Preco</dt>
            <dd class="col-sm-10">@produto.Preco</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Stock</dt>
            <dd class="col-sm-10">@produto.Stock</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">EstadoProduto</dt>
            <dd class="col-sm-10">@produto.EstadoProduto</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Tipo</dt>
            <dd class="col-sm-10">@produto.Tipo</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">URLImagem</dt>
            <dd class="col-sm-10">@produto.URLImagem</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">SubcategoriaId</dt>
            <dd class="col-sm-10">@produto.SubcategoriaId</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Imagem</dt>
            <dd class="col-sm-10">@produto.Imagem</dd>
        </dl>
        <EditForm method="post" Model="produto" OnValidSubmit="DeleteProduto" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(produto is null)">Delete</button> |
            <a href="/produtos">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Produto? produto;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        produto = await context.Produtos.FirstOrDefaultAsync(m => m.Id == Id);

        if (produto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteProduto()
    {
        using var context = DbFactory.CreateDbContext();
        context.Produtos.Remove(produto!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/produtos");
    }
}
