@page "/produtos/edit"
@using MYCOLL.Data
@using Microsoft.EntityFrameworkCore
@using MYCOLL.Entities
@using Microsoft.AspNetCore.Identity
@using MYCOLL.Services
@inject IDbContextFactory<MYCOLL.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ProdutoService ProdutoService
@inject SubCategoriaService SubCategoriaService

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Produto</h2>
<hr />
@if (Produto is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Produto" OnValidSubmit="UpdateProduto" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Produto.Id" value="@Produto.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="nome" class="form-label">Nome:</label>
                    <InputText id="nome" @bind-Value="Produto.Nome" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Produto.Nome" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descricao:</label>
                    <InputText id="descricao" @bind-Value="Produto.Descricao" class="form-control" />
                    <ValidationMessage For="() => Produto.Descricao" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="preco" class="form-label">Preco:</label>
                    <InputNumber id="preco" @bind-Value="Produto.Preco" class="form-control" />
                    <ValidationMessage For="() => Produto.Preco" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="stock" class="form-label">Stock:</label>
                    <InputNumber id="stock" @bind-Value="Produto.Stock" class="form-control" />
                    <ValidationMessage For="() => Produto.Stock" class="text-danger" />
                </div>
                <div class="mb-3">
                    <InputSelect id="EstadoProduto" class="form-select" @bind-Value="@Produto.EstadoProduto">
                        <option value="-1">Escolha o estado</option>
                        <option value="Inativo">"Inativo"</option>
                        <option value="Ativo">"Ativo"</option>
                        <option value="Pendente">"Pendente"</option>
                    </InputSelect>
                    <ValidationMessage For="() => Produto.EstadoProduto" class="text-danger" />

                </div>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo:</label>
                    <InputText id="tipo" @bind-Value="Produto.Tipo" class="form-control" />
                    <ValidationMessage For="() => Produto.Tipo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="urlimagem" class="form-label">URLImagem:</label>
                    <InputText id="urlimagem" @bind-Value="Produto.URLImagem" class="form-control" />
                    <ValidationMessage For="() => Produto.URLImagem" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoriaid" class="form-label">Categoria:</label>
                    <InputSelect id="categoriaid" class="form-select" @bind-Value="@Produto.SubcategoriaId">
                        <option value="-1">Escolha uma Categoria</option>
                        @foreach (var item in selSubCategorias)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Produto.SubcategoriaId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imagem" class="form-label">Imagem:</label>
                    <InputFile id="imagem" OnChange="OnImageChange" class="form-control"
                               accept=".png, .jpg, .jpeg" />
                    @if (previewUrl is not null)
                    {
                        <img src="@previewUrl" style="max-width: 200px; margin-top: 10px" />
                    }
                    <ValidationMessage For="() => Produto.Imagem" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/produtos">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }
    IEnumerable<SubCategoria> selSubCategorias = Enumerable.Empty<SubCategoria>();
    private string? currentUserId;

    [SupplyParameterFromForm]
    private Produto? Produto { get; set; }


    private async Task UpdateProduto()
    {
        // using var context = DbFactory.CreateDbContext();
        // context.Attach(Produto!).State = EntityState.Modified;

        // try
        // {
        //     await context.SaveChangesAsync();
        // }
        // catch (DbUpdateConcurrencyException)
        // {
        //     if (!ProdutoExists(Produto!.Id))
        //     {
        //         NavigationManager.NavigateTo("notfound");
        //     }
        //     else
        //     {
        //         throw;
        //     }
        // }
        await ProdutoService.UpdateProduto(Produto!);
        NavigationManager.NavigateTo("/produtos");
    }

    private string? previewUrl;
    private async Task OnImageChange(InputFileChangeEventArgs e)
    {
        if(Produto == null)
        {
            return;
        }
        var file = e.File;

        using var stream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(stream);
        Produto.Imagem = stream.ToArray();

        // Cria pré-visualização
        using var previewStream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(previewStream);
        var base64 = Convert.ToBase64String(previewStream.ToArray());
        previewUrl = $"data:{file.ContentType};base64,{base64}";
    }

    protected override async Task OnInitializedAsync()
    {
        if (Produto == null)
        {
            return;
        }
        selSubCategorias = await SubCategoriaService.GetSubCategorias();
        // Obter informação do utilizador logado
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Produto ??= await ProdutoService.GetProdutosPorID(Produto.Id);

        if (Produto is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        if (user.Identity?.IsAuthenticated == true)
        {
            // Obter o ID do utilizador logado
            var emailClaim = user.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.Email
                                                || c.Type == System.Security.Claims.ClaimTypes.Name);

            if (emailClaim != null)
            {
                var currentUser = await UserManager.FindByEmailAsync(emailClaim.Value);
                if (currentUser != null)
                {
                    currentUserId = currentUser.Id;
                    Produto.ApplicationUserId = currentUserId;
                }
            }

        }
    }
}
